# See https://caddyserver.com/docs

# Email for Let's Encrypt expiration notices
{
	email proj-eco-parking@7bits.it
	auto_https disable_redirects
}

https://{$DOMAIN_NAME} {
	# Removing some headers for improved security:
	header -Server

	handle {
		reverse_proxy web:8000
	}

	encode gzip
}
