# See https://caddyserver.com/docs

# Email for Let's Encrypt expiration notices
{
  email proj-eco-parking@7bits.it
}

{$WEB_APP_ADDRESS} {
  handle {
    reverse_proxy pi:8080
  }

  encode gzip

  log {
    output stdout
  }
}
