# eco-parking.7bits.it
ALLOWED_HOSTS=localhost

# Generate yours with:
# python3 -c 'from django.utils.crypto import get_random_string; print(get_random_string(50))'
DJANGO_SECRET_KEY=__CHANGEME__

POSTGRES_DB=econrstore_prod
POSTGRES_USER=econrstore_prod
POSTGRES_PASSWORD=w3tT0g7u3i6oEW

# Used only by django:
DJANGO_DATABASE_HOST=localhost
DJANGO_DATABASE_PORT=5432

# SMS_TRANSPORT=real
SMS_TRANSPORT=stub
#SMS_API_KEY=EAEC967D-7B31-01B4-A1DA-47602B7B06D5

#DJANGO_ENV=production
DJANGO_ENV=debug
USE_HTTPS=true

HOST=http://localhost:8000/

# For websockets
# CHANNEL_LAYERS_BACKEND=inmemory
CHANNEL_LAYERS_BACKEND=redis
REDIS_HOST=redis
REDIS_PORT=6379

INFLUXDB_V2_URL=http://localhost:8086
INFLUXDB_V2_ORG=eco-nrg
INFLUXDB_V2_TOKEN=k1Q33_kC5ou7muoBwFzahjKWisQQDBgOJ6b89u4_nb13OrinqPF8GZAqgD-ZT0wu7GP9LnyKVf-GgfdVKXrvPo==

INFLUXDB_MIDDLEWARE_DISABLED=false
INFLUXDB_MIDDLEWARE_BUCKET=api

# Sentry/glitchtip logs
SENTRY_DSN=https://50e3121c47c84d938f0477545907e3a1@logs.eco-nrg.store/4
# local, production, staging
SENTRY_ENV=local

# Payments
PAYMENT_ENABLED=false
# Alfa bank
ALFA_BASE_URL=https://payment.alfabank.ru/payment/rest
ALFA_REGISTER_PAYMENT=/register.do
ALFA_GET_PAYMENT=/getOrderStatusExtended.do
ALFA_GET_SBP_LINK=/sbp/c2b/qr/dynamic/get.do
# Check wiki
ALFA_API_USERNAME=
ALFA_API_PASSWORD=
ALFA_WEBHOOK_SECRET_KEY=
ALFA_RETURN_URL=/profile/pay-success
ALFA_FAIL_URL=/profile/pay-fail
ALFA_LANGUAGE=ru
# RUB in ISO
CURRENCY=643
MINIMUM_PAYMENT=1
MAXIMUM_PAYMENT=500000
CARD_COMMISSION=1.03

DEFAULT_FREE_HOURS=10.0
FRONTEND_BASE_URL=https://eco-parking.7bits.it
STATION_ACTIVATION=/spaces?id=
