TELEGRAM_BOT_TOKEN_KEY=

SQLITE_PATH_TO_DB='ABSOLUTE/PATH/TO/eco_nrg__BotAssistant/orm/econrg_store.db'
SQLITE_USERS_TABLE='users'
SQLITE_SESSIONS_TABLE='sessions'

POSTGRES_DB_URL=
POSTGRES_DB_HOST=
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=

BOT_TEXTS_START_MESSAGE='Здравствуйте! Выберите интересующую Вас зарядную станцию.'
BOT_TEXTS_CHOOSE_CONNECTOR_MESSAGE='Выберите тип разъема.'
BOT_TEXTS_CHOOSE_QUESTION_MESSAGE='Выберите из списка интересующий Вас вопрос:'
BOT_TEXTS_UNEXPECTED_ERROR='Просим Вашего прощения, возникла непредвиденная ошибка.'