# это путь до проекта
PYTHONPATH=/home/raspi/python/station

API_URL=https://api.eco-nrg.store
APP_URL=https://charge.eco-nrg.store
API_TOKEN=9f1c2daa97f47ba6b741ac64b63e3b7f2ed3a219
# TOKEN_KEY и DEVICE_KEY должны быть одинаковыми, это синонимы для обратной совместимости
TOKEN_KEY=???
DEVICE_KEY=???

# Sentry/glitchtip мониторинг ошибок и отправка логов
# Для LOCAL/STAGING: https://50e3121c47c84d938f0477545907e3a1@logs.eco-nrg.store/4
# Для PRODUCTION: https://cc1db637e98b479a9a8067d83604b597@logs.eco-nrg.store/2
SENTRY_DSN=https://50e3121c47c84d938f0477545907e3a1@logs.eco-nrg.store/4
# local, production, staging
# local для отладки и разработки
# staging - для тестового окружения
# production - боевое окружение
SENTRY_ENV=local
